--
-- PostgreSQL database dump
--

\restrict K4tnVl01ec7EjS54S966LBKCmT7UETtuxNLx6UvivieNi0ocJNJGfPFgCIBm2QD

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: cleanstream
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO cleanstream;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: cleanstream
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Category; Type: TYPE; Schema: public; Owner: cleanstream
--

CREATE TYPE public."Category" AS ENUM (
    'nudity',
    'sex',
    'violence',
    'language',
    'drugs',
    'fear',
    'discrimination',
    'dispensable',
    'commercial',
    'intro',
    'outro',
    'recap',
    'credits'
);


ALTER TYPE public."Category" OWNER TO cleanstream;

--
-- Name: Channel; Type: TYPE; Schema: public; Owner: cleanstream
--

CREATE TYPE public."Channel" AS ENUM (
    'both',
    'video',
    'audio'
);


ALTER TYPE public."Channel" OWNER TO cleanstream;

--
-- Name: Severity; Type: TYPE; Schema: public; Owner: cleanstream
--

CREATE TYPE public."Severity" AS ENUM (
    'low',
    'medium',
    'high'
);


ALTER TYPE public."Severity" OWNER TO cleanstream;

--
-- Name: TitleType; Type: TYPE; Schema: public; Owner: cleanstream
--

CREATE TYPE public."TitleType" AS ENUM (
    'movie',
    'series',
    'episode'
);


ALTER TYPE public."TitleType" OWNER TO cleanstream;

--
-- Name: VoteType; Type: TYPE; Schema: public; Owner: cleanstream
--

CREATE TYPE public."VoteType" AS ENUM (
    'up',
    'down'
);


ALTER TYPE public."VoteType" OWNER TO cleanstream;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ApiUsage; Type: TABLE; Schema: public; Owner: cleanstream
--

CREATE TABLE public."ApiUsage" (
    id text NOT NULL,
    "visitorId" text NOT NULL,
    endpoint text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ApiUsage" OWNER TO cleanstream;

--
-- Name: Release; Type: TABLE; Schema: public; Owner: cleanstream
--

CREATE TABLE public."Release" (
    id text NOT NULL,
    "titleId" text NOT NULL,
    name text NOT NULL,
    runtime integer,
    "offsetMs" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Release" OWNER TO cleanstream;

--
-- Name: Segment; Type: TABLE; Schema: public; Owner: cleanstream
--

CREATE TABLE public."Segment" (
    id text NOT NULL,
    "titleId" text NOT NULL,
    "startMs" integer NOT NULL,
    "endMs" integer NOT NULL,
    category public."Category" NOT NULL,
    subcategory text,
    severity public."Severity" DEFAULT 'high'::public."Severity" NOT NULL,
    channel public."Channel" DEFAULT 'both'::public."Channel" NOT NULL,
    comment text,
    contributor text DEFAULT 'anonymous'::text NOT NULL,
    "contributorIp" text,
    upvotes integer DEFAULT 0 NOT NULL,
    downvotes integer DEFAULT 0 NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    "verifiedBy" text,
    "verifiedAt" timestamp(3) without time zone,
    "releaseId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Segment" OWNER TO cleanstream;

--
-- Name: Title; Type: TABLE; Schema: public; Owner: cleanstream
--

CREATE TABLE public."Title" (
    id text NOT NULL,
    "imdbId" text NOT NULL,
    title text,
    year integer,
    type public."TitleType",
    runtime integer,
    "posterUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Title" OWNER TO cleanstream;

--
-- Name: Vote; Type: TABLE; Schema: public; Owner: cleanstream
--

CREATE TABLE public."Vote" (
    "visitorId" text NOT NULL,
    "segmentId" text NOT NULL,
    "voteType" public."VoteType" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Vote" OWNER TO cleanstream;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: cleanstream
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO cleanstream;

--
-- Data for Name: ApiUsage; Type: TABLE DATA; Schema: public; Owner: cleanstream
--

COPY public."ApiUsage" (id, "visitorId", endpoint, "createdAt") FROM stdin;
\.


--
-- Data for Name: Release; Type: TABLE DATA; Schema: public; Owner: cleanstream
--

COPY public."Release" (id, "titleId", name, runtime, "offsetMs", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Segment; Type: TABLE DATA; Schema: public; Owner: cleanstream
--



--
-- Data for Name: Title; Type: TABLE DATA; Schema: public; Owner: cleanstream
--



--
-- Data for Name: Vote; Type: TABLE DATA; Schema: public; Owner: cleanstream
--

COPY public."Vote" ("visitorId", "segmentId", "voteType", "createdAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: cleanstream
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
c19dde43-eb77-4552-a685-8c225582ceb2	dd18ba1c74d10ea90765b0a00c05be968c827ea745242c4cd605dfe81d447349	2026-01-10 09:27:55.190478+00	0001_initial	\N	\N	2026-01-10 09:27:55.107197+00	1
\.


--
-- Name: ApiUsage ApiUsage_pkey; Type: CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."ApiUsage"
    ADD CONSTRAINT "ApiUsage_pkey" PRIMARY KEY (id);


--
-- Name: Release Release_pkey; Type: CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Release"
    ADD CONSTRAINT "Release_pkey" PRIMARY KEY (id);


--
-- Name: Segment Segment_pkey; Type: CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Segment"
    ADD CONSTRAINT "Segment_pkey" PRIMARY KEY (id);


--
-- Name: Title Title_pkey; Type: CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Title"
    ADD CONSTRAINT "Title_pkey" PRIMARY KEY (id);


--
-- Name: Vote Vote_pkey; Type: CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Vote"
    ADD CONSTRAINT "Vote_pkey" PRIMARY KEY ("visitorId", "segmentId");


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ApiUsage_visitorId_createdAt_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "ApiUsage_visitorId_createdAt_idx" ON public."ApiUsage" USING btree ("visitorId", "createdAt");


--
-- Name: Release_titleId_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "Release_titleId_idx" ON public."Release" USING btree ("titleId");


--
-- Name: Release_titleId_name_key; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE UNIQUE INDEX "Release_titleId_name_key" ON public."Release" USING btree ("titleId", name);


--
-- Name: Segment_category_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "Segment_category_idx" ON public."Segment" USING btree (category);


--
-- Name: Segment_titleId_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "Segment_titleId_idx" ON public."Segment" USING btree ("titleId");


--
-- Name: Segment_verified_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "Segment_verified_idx" ON public."Segment" USING btree (verified);


--
-- Name: Title_imdbId_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "Title_imdbId_idx" ON public."Title" USING btree ("imdbId");


--
-- Name: Title_imdbId_key; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE UNIQUE INDEX "Title_imdbId_key" ON public."Title" USING btree ("imdbId");


--
-- Name: Vote_segmentId_idx; Type: INDEX; Schema: public; Owner: cleanstream
--

CREATE INDEX "Vote_segmentId_idx" ON public."Vote" USING btree ("segmentId");


--
-- Name: Release Release_titleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Release"
    ADD CONSTRAINT "Release_titleId_fkey" FOREIGN KEY ("titleId") REFERENCES public."Title"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Segment Segment_releaseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Segment"
    ADD CONSTRAINT "Segment_releaseId_fkey" FOREIGN KEY ("releaseId") REFERENCES public."Release"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Segment Segment_titleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: cleanstream
--

ALTER TABLE ONLY public."Segment"
    ADD CONSTRAINT "Segment_titleId_fkey" FOREIGN KEY ("titleId") REFERENCES public."Title"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: cleanstream
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict K4tnVl01ec7EjS54S966LBKCmT7UETtuxNLx6UvivieNi0ocJNJGfPFgCIBm2QD

